<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 Factor authentication</title>
</head>
<body>
    <div class="form-group">
        <label for="name">Enter TOtP</label>
        <input type="text" class="form-control" ng-model="formData.totp">
    </div>
    <a ng-click="otpstate(formData)" class="btn btn-block btn-info">Submit</a>
</body>
</html>