<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vault 7</title>
</head>
<script src="/js/lib/angular.min.js"></script>
<script src="/js/lib/angular-ui-router.min.js"></script>
<script src="/js/app/popup.js"></script>
<link rel="stylesheet" href="../css/darky-bootswatch.css">
<link rel="stylesheet" href="../css/popup.css">
<body ng-app="Vault7">
    <div ng-controller="PopupCtrl" class="container">
        <div ui-view></div>
    </div>
    
</body>
</html>