<div ng-controller="ScraperCtrl">

    <p>Hi {{name}},welcome to Vault7</p>

    <a ng-click="storeCredentials()" class="btn btn-block btn-info">
        Store credentials</a>
        <br/>
    <a ng-click="retrivecred(formData)" class="btn btn-block btn-info">
        See User credentials</a>
        <br/>
        <a ng-click="logout()" class="btn btn-block btn-info">
        logout</a>
        <br/>
        
            <div class="row">
              <div class="jumbotron text-muted text-center">
                  <p>Need Assistance?
                    <a target="_blank" href="https://www.linkedin.com/in/karthika-venugopal-76bb8b18b/">Contact Support</a>!</p>
              </div>
          </div>
</div>