<div ng-controller="ScraperCtrl">

    <p>Hi there {{name}}, what would you like to scrape from Amazon Today?</p>

    <a ng-click="storeCredentials()" class="btn btn-block btn-info">
        Store credentials</a>
        <br/>

        <a ng-click="logout()" class="btn btn-block btn-info">
        logout</a>
        <br/>
        
            <div class="row">
              <div class="jumbotron text-muted text-center">
                  <p>Need Assistance?
                    <a target="_blank" href="https://myamazonhistory.com/contact">Contact Support</a>!</p>
              </div>
          </div>
</div>